<div class="container" *ngIf="stockPrice$">
  <h2>{{stockSymbol$ | async}}</h2>
  <span>Current price: </span>{{stockPrice$ | async}}
  <br>
  <span>Last updated: </span>{{lastUpdated$ | async}}
</div>

<div *ngIf="displayChart"
     class="center" style="position: relative;
     height:40vh; width:80vw">
  <canvas #canvas id="canvas">{{ priceChart }}</canvas>
  <span>Data provided for free by
    <a href="https://iextrading.com/developer/" target="_blank">IEX</a>.
    View <a href="https://iextrading.com/api-exhibit-a/" target="_blank">
      IEX’s Terms of Use</a>.</span>
</div>
