<div class="center" *ngIf="stockCompanyName$">
  <h2>Today's sentiment for {{stockCompanyName$ | async}}</h2>
  <p *ngIf="sentiments.length == 0">
    Please wait...
  </p>
  <table class="center">
    <tr *ngFor="let sentiment of sentiments">
      <td>{{ sentiment.name }}</td>
      <td>{{ sentiment.value }}</td>
    </tr>
  </table>
  <span>Powered by
    <a href="https://newsapi.org/" target="_blank">NewsAPI.org</a> and
    <a href="https://www.ibm.com/watson/services/tone-analyzer/"
       target="_blank">IBM Watson Tone Analyzer</a></span>
</div>
