<div class="container">
  <h1>Select a stock</h1>
  <form (ngSubmit)="onSubmit()" #stockForm="ngForm">
    <div class="form-group">
      <label for="symbol">Symbol</label>
      <input type="text" class="form-control" id="symbol"
             required
             [(ngModel)]="userSelectedStock.symbol" name="symbol" placeholder="Stock Symbol">
    </div>

    <button type="submit" class="btn btn-success"
            [disabled]="!stockForm.form.valid">Submit</button>

  </form>
</div>
<app-price-display [stock]="stockCurrentlyDisplayed" *ngIf="stockCurrentlyDisplayed"></app-price-display>
